---
import "../styles/Beta.css";
import "../styles/Leadership.css";
const { Name, Title, About, Image, House, Mail } = Astro.props;
---

<div class="box">
  <img class="Face" src=`../Images/Leaders/${Image}` alt=`${Name}'s Picture` />
  <div class="Name">
    <div>{Name}</div>
    <div class="House">{House}</div>
  </div>
  <p class="Title">
    {Title}
    <a href=`mailto:${Mail}` class="Mail" aria-valuetext=`${Mail}`>
      <i class="fa-solid fa-envelope Mail"></i>
    </a>
  </p>
  <p class="About">
    {About}
  </p>
</div>
<script>
  const Mail = document.querySelector(".Mail") as HTMLAnchorElement;

  Mail.addEventListener("click", () => {
    navigator.clipboard.writeText(Mail.ariaValueText);
    window.alert(Mail.ariaValueText + " copied to clipboard");
  });
</script>
