---
import "../styles/Beta.css";
import "../styles/Leadership.css";
const { Name, Title, About, Image, House, Mail } = Astro.props;
---

<div class="box">
  <img class="Face" src=`../Images/Leaders/${Image}` alt=`${Name}'s Picture`/>
  <div class="Name">
    <div>{Name}</div>
    <div class="House">{House}</div>
  </div>
  <p class="Title">
    {Title}
    <a href=`mailto:${Mail}` class="Mail">
      <i class="fa-solid fa-envelope Mail Rachel"></i>
    </a>
  </p>
  <p class="About">
    {About}
  </p>
</div>
